
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">&nbsp; &copy; COMP214 Alex, Mohammed, Nabeel, Tamanna</p>
        </div>
    </footer>
</body>
</html>