<%- include('partials/header'); %>
<div id="cssGrid">
  <header><h1> Brewbean's Coffee Shop </h1> </header>
    <nav>
	<ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createproduct">Create Product</a></li>
      <li><a href="/editproduct">Edit Product</a></li>
      <li><a href="/basket">Basket</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/updatestatus">Order Status</a></li>
	 </ul>
    </nav>
    <main>
        <h4>Check if Items are in Stock</h4>
        <br>
        <br>
        <form method="post">
            <label for="IDBASKET">Basket Number:</label>
            <input type="text" id="IDBASKET", name="IDBASKET" required>
            <button type="button">Check Stock</button>
        </form>
        <br>
        <br>
        <h4>Check Total Spending</h4>
        <br>
        <br>
        <form method="post">
            <label for="IDSHOPPER">Shopper ID:</label>
            <input type="text" id="IDSHOPPER", name="IDSHOPPER" required>
            <button type="button">Calculate Spending</button>
        </form>
        <br>
        <br>
    </main>
</div>
<%- include('partials/footer'); %>