* { 
	box-sizing: border-box;
    	margin: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	background-color: wheat;
	color: black;
}

header {
	overflow:auto;
	background-color: sienna;
	background-size: auto 100%;
	color: white;
	}
h1 {
	font-variant: small-caps;
	padding-left: 300px;
}
table{
  text-align: left;
  padding: 20px;
}
tr{
	padding: 20px;
}
th{
	text-align: center;
}
td {
  padding: 20px;
}
main {
	padding: 1em;
}
footer {
	background-color: sienna;
	font-size: 70%;
	text-align: center;
	padding: 0.5em 0;
	color: white;
}
a{
	text-decoration: none;
	color: sienna;
}

nav{
	background-color: tan;
	color: white;
}
/* navigation menu*/
nav ul { 
	list-style-type: none;
      padding-left: .5em; 
      padding-right: .5em;
}
nav li {   
  text-align: left;
	padding-top: .5em;
	padding-bottom: .5em;
}
nav a { 
	text-decoration: none;
	font-weight: bold;
  color:#FFFFFF;

}
nav a:link {
	color:#FFFFFF;
}
nav a:hover {
	color:#FFFFFF;
}
nav a:visited {
	color:#FFFFFF;
}
button{
	border: none;
	background-color: saddlebrown;
	padding: 5px;
	color: white;
	font-variant: small-caps;
}

nav ul { 
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: nowrap; 
}
footer { 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}
